.header {
	background-color: var(--bg-header);
	color: var(--color-header);
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;

	@include mq(l) {
		height: var(--h-header);
	}

	&--wrapper {
		margin: 0 auto;

		@include mq(l) {
			max-width: 95%;
			display: flex;
			height: 100%;
			justify-content: space-evenly;
			align-items: center;
		}

		& > * {
			margin-bottom: 1rem;

			@include mq(l) {
				margin-bottom: 0;
			}
		}
	}
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 0;
	padding: 0.5rem 2rem;

	@include mq(l) {
		padding: 0.5rem 0;
	}
}

.menu--toggle {
	font-size: 1.5em;
	cursor: pointer;

	@include mq(l) {
		display: none;
	}
}

.menu--nav,
.login {
	display: none;
}

.menu--nav {
	@include mq(l) {
		display: block;
	}

	&,
	* {
		height: 100%;
	}
}

.menu {
	@include mq(l) {
		@include flexCenter();
	}

	&--item {
		transition: all 0.25s;

		&:hover {
			background-color: var(--bg-primary);
			color: var(--color-primary);
		}
	}

	&--link {
		display: block;
		padding: 0.35rem;

		@include mq(l) {
			padding: 0 0.75em;
			@include flexCenter();
		}
	}
}

.login {
	width: 90%;
	margin: 0 auto;

	@include mq(l) {
		margin: initial;
		width: auto;
		display: flex;
		align-items: center;
	}

	button {
		background-color: var(--bg-btn-signIn);
		margin-left: 0.25rem;
	}

	.form-group {
		@include mq(m) {
			display: flex;
			align-items: center;
		}

		& > * {
			margin-bottom: 0.5rem;

			@include mq(m) {
				margin-left: 0.25rem;
				margin-right: 0.25rem;
			}

			@include mq(l) {
				margin-bottom: 0;
			}
		}
	}

	& > * {
		margin-bottom: 1rem;

		@include mq(l) {
			margin-bottom: 0;
		}
	}
}

.logout {
	display: none;

	& > * {
		margin-bottom: 1rem;
	}

	@include mq(l) {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > * {
			margin-bottom: 0;
		}
	}

	button {
		background-color: $bg-btn-logout;
		
		&:hover {
			background-color: darken($bg-btn-logout, 10);
		}

		@include mq(l) {
			margin-left: 1rem;
		}
	}
}
