.buy {
    margin: 1rem auto;
    max-width: 500px;

    label {
        display: block;
        margin-bottom: .75rem;
    }

    input, select {
        margin-top: .35rem;
    }

    &--actions {

        button {
            width: 100%;
            margin-bottom: 1rem;;
        }
    }

    &--product {

        @include mq(s) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        

        button {
            margin-bottom: 2rem;

            @include mq(s) {
                margin-bottom: 0;
                margin-right: 5rem;
            }
        }

    }
}

.txtUnit {
    max-width: 220px;
}