html {
	font-size: 16px;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-main);
	background-color: var(--bg-primary);
	color: var(--color-primary);
}

h1 {
	font-size: var(--fs-h1);
	text-align: center;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	transition: all .5s;
}

img {
	max-width: 100%;
	height: auto;
}

input {
	display: block;
	font-size: 1rem;
	border: thin solid var(--color-border-header);
	border-radius: 5px;
	padding: .5rem;
	width: 100%;
}

button {
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: .6em .75em;
	transition: 
		background-color .5s,
		color .5s;
	cursor: pointer;
}

main {
	width: var(--w-content);
	margin: 1.35rem auto;
}
