html {
	font-size: 16px;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-main);
	background-color: var(--bg-primary);
	color: var(--color-primary);
	padding-top: var(--h-header);
}

h1 {
	font-size: var(--fs-h1);
	text-align: center;
}

h4 {
	text-align: center;
	font-size: var(--fs-h4);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.5s;
}

img {
	max-width: 100%;
	height: auto;
}

input {
	display: block;
	font-size: 1rem;
	border: thin solid var(--color-border-header);
	border-radius: 5px;
	padding: 0.5rem;
	width: 100%;
}

select {
	background-color: #fff;
	border: thin solid var(--color-border-header);
	border-radius: 3px;
	display: block;
	font-size: 1em;
	padding: .5em;

}

button {
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: 0.6em 0.75em;
	transition: background-color 0.5s, color 0.5s;
	cursor: pointer;
}

table {
	margin: 2rem auto;
}

th,
td {
	padding: 0.75em;
	outline: 2px solid #555;
}

tr {
	& > th {
		background-color: #fafafa;
	}

	&:nth-child(odd) {
		&:hover > td {
			background-color: darken(#ccc, 20);
		}

		& > td {
			background-color: #ccc;
		}
	}

	&:nth-child(even) {
		&:hover > td {
			background-color: darken(#ccc, 20);
		}

		& > td {
			background-color: #fafafa;
		}
	}
}

main {
	width: var(--w-content);
	margin: 1.35rem auto;
}

.btn {

	border: none;
	border-radius: 5px;
	display: block;
	font-size: 1rem;
	padding: 0.6em 0.75em;
	width: max-content;
	transition: background-color 0.5s, color 0.5s;
	cursor: pointer;

	&--primary {
		background-color: var(--bg-btn-primary);
		color: var(--text-btn-primary);

		&:hover {
			background-color: darken($bg-btn-primary, 15);
		}
	}

	&--secondary {
		background-color: $bg-btn-secondary;
		color: var(--text-btn-primary);

		&:hover {
			background-color: darken($bg-btn-secondary, 15);
		}
	}

	&--cta {
		background-color: $bg-btn-cta;
		color: var(--text-btn-primary);

		&:hover {
			background-color: darken($bg-btn-cta, 15);
		}
	}

	&--danger {
		background-color: $bg-btn-danger;
		color: var(--text-btn-primary);

		&:hover {
			background-color: darken($bg-btn-danger, 15);
		}
	}
}

.error {
	color: $error;
	font-weight: bold;
	margin-bottom: .5rem;
}
