$breakpoints: (
	s: 480px,
	m: 768px,
	l: 1024px
);

$bg-btn-logout: #f57c00;
    
:root {
    --font-main: "Raleway", sans-serif;

    /** H1 **/

    --fs-h1: 3em;
    @include mq(m) {
        --fs-h1: 4em;
    }

    @include mq(l) {
        --fs-h1: 4.5em;
    }

    /** H2 **/

    --fs-h2: 1.5em;
    @include mq(m) {
        --fs-h2: 1.6em;
    }

    @include mq(l) {
        --fs-h2: 1.7em;
    }

    /** H4 **/

    --fs-h4: 2.25em;
    @include mq(m) {
        --fs-h4: 2.5em;
    }

    @include mq(l) {
        --fs-h4: 2.75em;
    }

    /** p **/
    --fs-p: 1.35em;
    @include mq(m) {
        --fs-p: 1.5em;
    }

    @include mq(l) {
        --fs-p: 1.65em;
    }

	/** Colores principales **/
	--bg-primary: #f8ffe5;
	--color-primary: #333;

	/** Header **/

	--bg-header: var(--color-primary);
	--color-header: var(--bg-primary);
	--color-border-header: #ccc;
	--h-header: 3rem;

	/** Buttons **/

    --bg-btn-signIn: #8AEA92;
    --bg-btn-logout: #f57c00;

    
    /** Content **/
    --w-content: 90%;
}

